{% extends 'base.html.twig' %}

{% block title %}Welcome Home | Forum{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Welcome to the forum {{ app.user ? app.user.pseudo : "to you" }} </h1>

    </div>
{% endblock %}
